@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	@apply font-bold py-2 px-4 rounded;
	@apply bg-blue-400 text-white;
}
button:hover {
	@apply bg-blue-500;
}

* {
	@apply transition-colors duration-200;
}

label {
	@apply font-bold rounded;
}

*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 14px;
	border: 3px solid var(--primary);
}

:root {
	--bg-color: #f9fafb;
	--text-color: #1f2937;
	--border-color: #d1d5db;
	--input-bg-color: #f9fafb;
	--input-border-color: #d1d5db;
	--input-placeholder-color: #6b7280;
	--input-text-color: #1f2937;
	--focus-ring-color: #3b82f6;
}

.dark {
	--bg-color: #111827;
	--text-color: #f9fafb;
	--border-color: #374151;
	--input-bg-color: #1f2937;
	--input-border-color: #374151;
	--input-placeholder-color: #6b7280;
	--input-text-color: #f9fafb;
	--focus-ring-color: #3b82f6;
}

body,
section,
h1,
div,
label,
input,
button,
p {
	background-color: var(--bg-color);
	color: var(--text-color);
	border-color: var(--border-color);
}

input {
	background-color: var(--input-bg-color);
	border-color: var(--input-border-color);
	color: var(--input-text-color);
}

input::placeholder {
	color: var(--input-placeholder-color);
}

input:focus {
	ring-color: var(--focus-ring-color);
}
